# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
        log-send-hostname {{ ansible_hostname }}
        log 127.0.0.1 local0 debug
        log 127.0.0.1 local0 notice
        user haproxy
        group haproxy
        daemon
        tune.bufsize    32768
        stats socket /var/run/haproxy.sock mode 600 level admin
        #debug
        #quiet

defaults
        log     global
        mode    http
        option  dontlognull
        retries 5
        option redispatch
        option socket-stats
        maxconn 4096
        timeout connect 50s
        timeout client  300s
        timeout server  300s
        option forwardfor

listen keystone
        bind {{ internalVIP }}:5000
        bind {{ publicVIP }}:5000 ssl crt /etc/ssl/os-neutron-lab
        option http-server-close
        option  httplog
        fullconn 1024
        server {{ controller01hostName }} {{ controller01InternalIP }}:5000 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:5000 check inter 3000

listen keystone-admin
        bind {{ internalVIP }}:35357
        balance roundrobin
        option  httplog
        option http-server-close
        fullconn 1024
        server {{ controller01hostName }} {{ controller01InternalIP }}:35357 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:35357 check inter 3000

listen glance-api
        bind {{ internalVIP }}:9292
        bind {{ publicVIP }}:9292 ssl crt /etc/ssl/os-neutron-lab
        balance source
        option httplog
        option http-server-close
        fullconn 1024
        server {{ controller01hostName }} {{ controller01InternalIP }}:9292 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:9292 check inter 3000

listen glance-registry
        bind {{ internalVIP }}:9191
        balance source
        option httplog
        option http-server-close
        fullconn 1024 
        server {{ controller01hostName }} {{ controller01InternalIP }}:9191 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:9191 check inter 3000

listen nova-compute-api
        bind {{ internalVIP }}:8774 
        bind {{ publicVIP }}:8774 ssl crt /etc/ssl/os-neutron-lab
        balance roundrobin
        option httplog
        option http-server-close
        fullconn 1024
        server {{ controller01hostName }} {{ controller01InternalIP }}:8774 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:8774 check inter 3000

listen nova-metadata
        bind {{ internalVIP }}:8775
        balance roundrobin
        option httplog
        option http-server-close
        fullconn 1024
        server {{ controller01hostName }} {{ controller01InternalIP }}:8775 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:8775 check inter 3000

listen novncproxy
        bind {{ publicVIP }}:6080 ssl crt /etc/ssl/os-neutron-lab
        balance source
        option httplog
        option http-server-close
        fullconn 1024
        server {{ controller01hostName }} {{ controller01InternalIP }}:6080 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:6080 check inter 3000

listen horizon
        bind {{ publicVIP }}:80
        bind {{ publicVIP }}:443 ssl crt /etc/ssl/os-neutron-lab
        redirect scheme https if !{ ssl_fc }
        balance source
        option httplog
        option http-server-close
        fullconn 1024
        server {{ controller01hostName }} {{ controller01InternalIP }}:80 check inter 3000
        server {{ controller02hostName }} {{ controller02InternalIP }}:80 check inter 3000

listen web 0.0.0.0:8080
    mode http
    stats enable
    stats uri /
    stats realm Strictly\ Private
    stats auth {{ LBStatsUserName }}:{{ LBStatsPassword }} 
    stats admin if TRUE
    stats hide-version
    stats show-legends
    stats show-desc OpenStack LoadBalancer
    stats refresh 5s
