global_defs {
  notification_email {
                {{ lbNotifyEmailAddress }}
        }
        notification_email_from {{ lbNotifyEmailFrom }}
        smtp_server  {{ smtp_server }}

  router_id sddclb01

}

vrrp_script check_haproxy {
        script "/usr/local/bin/check_haproxy.sh"
        interval 5      # check every x seconds
        fail 2          # require x failures
        rise 2          # require x success for OK
}




vrrp_instance public {
  virtual_router_id 1

  # for electing MASTER, highest priority wins.
  priority  10
  state     MASTER

  interface  eth1

  virtual_ipaddress {
        {{ publicVIP }}
  }
  track_script {
        check_haproxy
  }

}

vrrp_instance internal {
  virtual_router_id 2

  # for electing MASTER, highest priority wins.
  priority  20
  state     MASTER

  interface eth0

  virtual_ipaddress {
         {{ internalVIP }}
  }
  track_script {
        check_haproxy
  }

}
